@model TechSupportXPress.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to Tickets
    </a>
</div>

<div class="card rounded-4">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h6 class="mb-0">Add New Ticket</h6>
        </div>
        <hr />
        <div class="row">

            <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="col-md-12">
                
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                       
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PriorityId" class="control-label"></label>
                                <select asp-for="PriorityId" id="PriorityId" name="PriorityId" class="form-control" asp-items="ViewBag.PriorityId">
                                    <option value=" ">Select Priority</option>
                                </select>
                            </div>
                        </div>
                       

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" id="CategoryId" name="CategoryId" class="form-control get-subcategories" asp-items="ViewBag.CategoryId">
                                    <option value=" ">Select Category</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SubCategoryId" class="control-label"></label>
                                <select asp-for="SubCategoryId" class="form-control"></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Attachment" class="control-label"></label>
                                <input class="form-control" type="file" accept=".png,.jpg,jpeg,.pdf,.doc" id="attachment" name="attachment" />
                            </div>
                        </div>

                    </div>
               
            </div>

                <div class="row p-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary float-end"><i class="fadeIn animated bx bx-save"></i> Create</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
