@model TechSupportXPress.Models.TicketSubCategory

@{
    ViewData["Title"] = "Edit";
}

<div class="mb-3">
    <a asp-action="Index" asp-route-id="@Model.CategoryId" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to Sub Categories
    </a>
</div>

<div class="card rounded-4 shadow-sm">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <h4 class="mb-3 text-warning"><i class="bi bi-pencil-square"></i> Edit Ticket Sub Category</h4>
        </div>
        <hr />
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CategoryId" />
            <input type="hidden" asp-for="CreatedById" />
            <input type="hidden" asp-for="CreatedOn" />

            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="Code" class="form-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger small"></span>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger small"></span>
                    </div>
                </div>
            </div>

            <div class="text-end mt-4">
                <button type="submit" class="btn btn-primary px-4">
                    <i class="fadeIn animated bx bx-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
