@model TechSupportXPress.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to Comments
    </a>
</div>

<div class="card rounded-4">
    <div class="card-body">
        <h4 class="mb-3 text-primary bi bi-plus-circle"><i class="bi bi-building-add"></i> Add New Comment</h4>
        <hr />

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="TicketId" class="form-label"></label>
                    <select asp-for="TicketId" class="form-select single-select" asp-items="ViewBag.TicketId">
                        <option value="">Select Ticket</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label asp-for="Description" class="form-label">Comment</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-success px-4">
                    <i class="bx bx-save"></i> Create
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
