@model TechSupportXPress.Models.Comment

@{
    ViewData["Title"] = "Edit";
}

<div class="mb-3">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> Back to Comments
    </a>
</div>

<div class="card rounded-4">
    <div class="card-body">
        <h4 class="mb-3 text-warning"><i class="bi bi-pencil-square"></i> Edit Comment</h4>
        <hr />

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="TicketId" />
            <input type="hidden" asp-for="CreatedById" />
            <input type="hidden" asp-for="CreatedOn" />

            <div class="row g-3">
                <div class="col-md-6">
                    <label asp-for="Ticket.Title" class="form-label">Ticket Title</label>
                    <input asp-for="Ticket.Title" class="form-control form-control-sm" disabled />
                </div>

                <div class="col-md-12">
                    <label asp-for="Description" class="form-label">Comment</label>
                    <textarea asp-for="Description" rows="4" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>
            </div>

            <div class="mt-4 text-end">
                <button type="submit" class="btn btn-success px-4">
                    <i class="bx bx-save"></i> Save
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
