@model TechSupportXPress.ViewModels.RolesViewModel

@{
    ViewData["Title"] = "Create";
}

<h4>Add New System Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="row p-3">
                <div class="form-group">
                    <a class="btn btn-warning float-start" asp-action="Index"><i class="fadeIn animated bx bx-arrow-back"></i> Back to List</a>
                    <button type="submit" class="btn btn-primary float-end"><i class="fadeIn animated bx bx-save"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
